
.title-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title {
        margin: 0 auto;
        font-size:1.2rem;
        color: #498428;
        font-weight:800;
    }
    .backBtn {
        cursor: pointer;
        // margin-right:auto;
    }
}

